*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/*
.gradle/*
.gradle/2.14.1
.gradle/3.2
.idea/misc.xml
.idea/workspace.xml
.idea
app/build
app/app.iml
*.iml
build
.DS_Store
/app/app.iml
